img
{
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

body
{
	background-color: black; 
	color: white; 
	font-family: century-gothic;
}

h2
{
	margin-top: 100px;
}

.upload
{
	width: 225px;
	text-align: center;
	border-style: dashed;
	border-color: white;
	padding: 25px;
  	position:relative;
  	color:#fff;
  	cursor:pointer;
}

.hide_file 
{
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

#search
{
	height: 2em;
}

#imgUpload
{
	width: 35em;  height: 2em;
}
