<!DOCTYPE html>
<html>
<head>
	<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="https://use.typekit.net/oov2wcw.cc">
	{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
</head>
<body>
	<center>
		<h2>Click on the "Upload File" Button<br><br> OR <br><br>Drag and Drop to upload an image:</h2><br><br>
		{% csrf_token %} 
		<div class="upload">
			<p id="para">Upload Image</p>
			<div>
				<img id="image" src="#" alt="your image"/>
			</div>
			<input class="hide_file" type="file" id="myFile" name="filename" accept="image/jpg, image/jpeg, image/png" onchange="readURL(this)">
		</div><br><br>
		<label for="imgUpload"><b>Choose an Effect:</b></label><br><br>
		<select name="imgUpload" id="imgUpload">
			<option value="grayscale">GrayScale</option>
			<option value="histogram">Histogram Equilization (along Y axis)</option>
			<option value="gaussian">Gaussian Blur</option>
			<option value="increase">Brightness Increase</option>
			<option value="decrease">Brightness Decrease</option>
			<option value="inversion">Color Inversion</option>
			<option value="negative">Negative Image</option>
			<option value="sepia">Sepia Effect</option>
			<option value="clahe">Contrast Limited Adaptive Histogram Equalization</option>
		</select>
		<button onclick="final()"> 
			Submit 
		</button>
	</center>
	{% load static %}
	<script src="{% static 'script.js' %}">
	</script>
</body>
</html>
